/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 14% 97%; /* #FAF7F0 */
    --foreground: 0 0% 7%;     /* #1C1C1C */
  }
 
  .dark {
    --background: 0 0% 12%;    /* #1F1F1F */
    --foreground: 0 0% 95%;    /* #F1F1F1 */
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}